@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-title: 'Belgrano', serif;
$font-normal: 'Poppins', sans-serif;
$grey: #2E2F38;
$grey-light: #8E8E8E;
$black: #484951;
$red: #FA504D;
$white: #FFFFFF;

@mixin button() {
    display: inline-block;
    background-color: $red;
    padding: 8px 30px;
    color: white;
    text-decoration: none;

    &:hover {
        background-color: color.mix(black, $red, 20%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-normal;
    font-size: 16px;

    &::before {
        content: '';
        width: 44%;
        background-color: $grey;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    // margin-bottom: 30px;

    a {
        text-decoration: none;
    }
}

.header__nav {
    margin-left: 120px;

    ul {
        list-style: none;
        display: flex;
        gap: 46px;
        
        a {
            color: $grey;
            font-weight: 400;
        }
    }
    
}

.header__login {
    margin-left: auto;

    ul {
        list-style: none;
        display: flex;
        gap: 30px;
        align-items: center;
        
        a {
            color: $white;
            font-weight: 500;
        }
    }

    .btn {
        @include button()
    }
}

main {
    display: grid;
    grid-template-columns: 60% 40%;

    .hero {
        grid-column: 1 / span 1;
        margin-bottom: 20px;
        padding-top: 50px;

        h1 {
            font-family: $font-title;
            font-size: 55px;
            line-height: 65px;
            font-weight: 500;
            max-width: 95%;
            padding-right: 40px;
            margin-bottom: 20px;
        }

        &__subtitle {
            color: $grey-light;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 30px;

            a:first-child {
                @include button();
                padding: 12px 60px;
            }

            a:last-child {
                display: flex;
                align-items: center;
                color: $grey;
            }
        }
    }

    .featured {
        grid-column: 1 / span 1;

        &__title {
            font-family: $font-title;
            margin-bottom: 20px;
        }

        &__imgs {
            display: flex;
            gap: 20px;

            img {
                width: 45%;
                border: 1px solid $grey-light;
                padding: 4px;
            }
        }
    }

    .nft {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        padding: 0 30px;

        &__img_container {
            img {
                max-width: 100%;
            }
        }

        &__data {
            background-color: $white;
            padding: 16px;
            margin-top: -40px;
            position: relative;
            margin-bottom: 15px;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid;
        }

        &__owner {
            display: flex;

            &_data {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .nft__username {
                color: $grey-light;
                font-weight: 300;
            }
            
            .nft__name {
                color: $grey;
                font-weight: 600;
            }
        }
        
        &__price {
            display: flex;
            flex-direction: column;

            &_current  {
                color: $grey-light;
                font-weight: 300;
            }
            
            &_number {
                color: $grey;
                font-weight: 600;
            }
        }

        &__buttons {
           display: flex;
           gap: 16px;
           align-items: center;
           justify-content: space-between;

           .btn {
                text-decoration: none;
           }
           
           & .btn:first-child {
                @include button();
                padding: 12px 70px;
            }
        
            & .btn:last-child {
                background-color: transparent;
                color: $red;
                font-weight: 600;
                padding: 12px 40px;
            }
        }

        &__numbers {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: $white;

        }

        &__number {
            color: $red;
            font-size: 24px;
            font-weight: 500;
        }
    }
}